Td_Project_Versions/Version_Phone/Prof_Exemple/NodeRed_Flows_Prof_Exemple.json
[
    {
        "id": "f899654ed29b2ddf",
        "type": "tab",
        "label": "Conception Android",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "598467b62b2c5223",
        "type": "http in",
        "z": "f899654ed29b2ddf",
        "name": "",
        "url": "/app/light/:value",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "50ba2dabc00fca7b",
        "type": "debug",
        "z": "f899654ed29b2ddf",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "739f4551fada4db9",
        "type": "function",
        "z": "f899654ed29b2ddf",
        "name": "function 2",
        "func": "msg.payload = {\n    value: Number(msg.req.params.value),\n    time: Number(msg.req.params.timestamp)\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "50ba2dabc00fca7b",
                "9d08160b6043f514",
                "b29ffd688570d135"
            ]
        ]
    },
    {
        "id": "9d08160b6043f514",
        "type": "influxdb out",
        "z": "f899654ed29b2ddf",
        "influxdb": "5ba7f60809348175",
        "name": "",
        "measurement": "light Sensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "StevenEssam",
        "bucket": "BD1Mobile",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "ec2fe98e7b98ebdc",
        "type": "ui_button",
        "z": "f899654ed29b2ddf",
        "name": "",
        "group": "4af09f86cd6e0ae5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0ed89c5e39cdefd6",
        "type": "ui_text",
        "z": "f899654ed29b2ddf",
        "group": "4af09f86cd6e0ae5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Graph des valeurs de lumonisite",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "cfdd47f1e6ad5fc0",
        "type": "inject",
        "z": "f899654ed29b2ddf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 400,
        "wires": [
            [
                "5671fbef61519c8b"
            ]
        ]
    },
    {
        "id": "5671fbef61519c8b",
        "type": "function",
        "z": "f899654ed29b2ddf",
        "name": "function 3",
        "func": "msg.query = 'from(bucket:\"BD1Mobile\")\\\n    |>range(start:2023-01-01)\\\n    |>filter(fn: (r) => r._measurement == \"light Sensor\")';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 400,
        "wires": [
            [
                "ac15ec7a41a46824"
            ]
        ]
    },
    {
        "id": "ac15ec7a41a46824",
        "type": "influxdb in",
        "z": "f899654ed29b2ddf",
        "influxdb": "5ba7f60809348175",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "StevenEssam",
        "x": 830,
        "y": 400,
        "wires": [
            [
                "853974a875f9a562"
            ]
        ]
    },
    {
        "id": "da31b77daa0f67d8",
        "type": "debug",
        "z": "f899654ed29b2ddf",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 400,
        "wires": []
    },
    {
        "id": "853974a875f9a562",
        "type": "split",
        "z": "f899654ed29b2ddf",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1010,
        "y": 400,
        "wires": [
            [
                "eb616dea871a79fc"
            ]
        ]
    },
    {
        "id": "eb616dea871a79fc",
        "type": "function",
        "z": "f899654ed29b2ddf",
        "name": "function 4",
        "func": "msg.timestamp = msg.payload._time;\nmsg.payload = Number(msg.payload._value);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 400,
        "wires": [
            [
                "da31b77daa0f67d8"
            ]
        ]
    },
    {
        "id": "37d7f54e26d573d3",
        "type": "http in",
        "z": "f899654ed29b2ddf",
        "name": "",
        "url": "/app/light/:timestamp/:value",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "739f4551fada4db9"
            ]
        ]
    },
    {
        "id": "4e56822b6788df59",
        "type": "http response",
        "z": "f899654ed29b2ddf",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "b29ffd688570d135",
        "type": "function",
        "z": "f899654ed29b2ddf",
        "name": "function 5",
        "func": "msg.payload = msg.payload.timestamp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 60,
        "wires": [
            [
                "4e56822b6788df59"
            ]
        ]
    },
    {
        "id": "5ba7f60809348175",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "my_influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "4af09f86cd6e0ae5",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "2c92c3f9de15f203",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "2c92c3f9de15f203",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]