Project_Versions/Projets_Versions/flows_V6.json
[
    {
        "id": "e3f06e9735d32e5d",
        "type": "tab",
        "label": "NodeRed_Projet",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0414ce3d1d9a869f",
        "type": "function",
        "z": "e3f06e9735d32e5d",
        "name": "function gps",
        "func": "msg.payload = {\n    lat: Number(msg.req.params.latitude),\n    lon: Number(msg.req.params.longitude),\n    name: \"MyDevice\",\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 140,
        "wires": [
            [
                "12ea6749eeda1f03",
                "788e11207099a70b",
                "432edb2e80efa19b"
            ]
        ]
    },
    {
        "id": "12ea6749eeda1f03",
        "type": "debug",
        "z": "e3f06e9735d32e5d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "5d683a148f3463df",
        "type": "http in",
        "z": "e3f06e9735d32e5d",
        "name": "",
        "url": "/app/gps/:latitude/:longitude/:speed",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "0414ce3d1d9a869f",
                "85e4f6060d1a9292"
            ]
        ]
    },
    {
        "id": "788e11207099a70b",
        "type": "influxdb out",
        "z": "e3f06e9735d32e5d",
        "influxdb": "5ba7f60809348175",
        "name": "",
        "measurement": "testgps2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "StevenEssam",
        "bucket": "testBD",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "8938f28c548c63e1",
        "type": "http in",
        "z": "e3f06e9735d32e5d",
        "name": "",
        "url": "/app/light/:light",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "e31d22b839a3583c"
            ]
        ]
    },
    {
        "id": "e31d22b839a3583c",
        "type": "function",
        "z": "e3f06e9735d32e5d",
        "name": "function light",
        "func": "msg.payload = {\n    light: Number(msg.req.params.light)\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "12ea6749eeda1f03",
                "39cecae2dc6fb641",
                "0ee00a9fc75704e7"
            ]
        ]
    },
    {
        "id": "39cecae2dc6fb641",
        "type": "influxdb out",
        "z": "e3f06e9735d32e5d",
        "influxdb": "5ba7f60809348175",
        "name": "",
        "measurement": "testlight2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "StevenEssam",
        "bucket": "testBD",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6a2586ba301c5a9",
        "type": "influxdb out",
        "z": "e3f06e9735d32e5d",
        "influxdb": "5ba7f60809348175",
        "name": "",
        "measurement": "testAccelometre2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "StevenEssam",
        "bucket": "testBD",
        "x": 1110,
        "y": 480,
        "wires": []
    },
    {
        "id": "137321f9e4fc986c",
        "type": "function",
        "z": "e3f06e9735d32e5d",
        "name": "function accelerometer",
        "func": "msg.payload = {\n    xAccel: Number(msg.req.params.xAccel),\n    yAccel: Number(msg.req.params.yAccel),\n    zAccel: Number(msg.req.params.zAccel)\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 480,
        "wires": [
            [
                "12ea6749eeda1f03",
                "a6a2586ba301c5a9"
            ]
        ]
    },
    {
        "id": "6d1fad376aa3bb01",
        "type": "http in",
        "z": "e3f06e9735d32e5d",
        "name": "",
        "url": "/app/accelerometer/:xAccel/:yAccel/:zAccel",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 480,
        "wires": [
            [
                "137321f9e4fc986c",
                "dbd6b780fa97db6d"
            ]
        ]
    },
    {
        "id": "0ee00a9fc75704e7",
        "type": "ui_gauge",
        "z": "e3f06e9735d32e5d",
        "name": "",
        "group": "c7e53eb63daf2f56",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Light Level",
        "label": "Light",
        "format": "{{msg.payload.light | number:1}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "432edb2e80efa19b",
        "type": "ui_worldmap",
        "z": "e3f06e9735d32e5d",
        "group": "234b79cc97402da8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Location Map",
        "lat": "",
        "lon": "",
        "zoom": "16",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "85e4f6060d1a9292",
        "type": "function",
        "z": "e3f06e9735d32e5d",
        "name": "function gps",
        "func": "msg.payload = {\n    speed: Number(msg.req.params.speed)\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "788e11207099a70b",
                "12ea6749eeda1f03",
                "99545f9202279ccd"
            ]
        ]
    },
    {
        "id": "99545f9202279ccd",
        "type": "ui_gauge",
        "z": "e3f06e9735d32e5d",
        "name": "",
        "group": "b5640878e8218e75",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed",
        "label": "Speed",
        "format": "{{msg.payload.speed| number:1}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "8206fcf964652fa4",
        "type": "ui_chart",
        "z": "e3f06e9735d32e5d",
        "name": "",
        "group": "544bb19416535145",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Accelerometer",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "dbd6b780fa97db6d",
        "type": "function",
        "z": "e3f06e9735d32e5d",
        "name": "function accelerometer",
        "func": "var xAccel = msg.req.params.xAccel;\nvar yAccel = msg.req.params.yAccel;\nvar zAccel = msg.req.params.zAccel;\n\nvar msg1 = { topic: \"xAccel\", payload: xAccel };\nvar msg2 = { topic: \"yAccel\", payload: yAccel };\nvar msg3 = { topic: \"zAccel\", payload: zAccel };\n\nreturn [[msg1, msg2, msg3]];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 560,
        "wires": [
            [
                "8206fcf964652fa4"
            ]
        ]
    },
    {
        "id": "43b5c5e92ab2735b",
        "type": "ui_led",
        "z": "e3f06e9735d32e5d",
        "order": 1,
        "group": "02fced2075fb399f",
        "width": 5,
        "height": "3",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "",
        "x": 990,
        "y": 740,
        "wires": []
    },
    {
        "id": "4c5cc0baa1cc2fb0",
        "type": "ui_table",
        "z": "e3f06e9735d32e5d",
        "group": "f3f3d72da8e0a0a6",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "63372a236c469315",
        "type": "http in",
        "z": "e3f06e9735d32e5d",
        "name": "",
        "url": "/app/alerte/:alertMessage",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 680,
        "wires": [
            [
                "fbf72e5c2eb7271f"
            ]
        ]
    },
    {
        "id": "fbf72e5c2eb7271f",
        "type": "function",
        "z": "e3f06e9735d32e5d",
        "name": "function alert",
        "func": "// Obtenir la date et l'heure actuelles\nlet now = new Date();\n\n// Formater la date en \"MM/dd/yyyy hh:mm:ss a\"\nlet formattedDate = formatDate(now);\n\n// Ajouter le message d'alerte et la date au payload\nmsg.payload = {\n    alertMessage: String(msg.req.params.alertMessage),  // Message d'alerte reçu\n    timestamp: formattedDate  // Date générée par Node-RED\n};\n\n// Retourner le message\nreturn msg;\n\n// Fonction pour formater la date\nfunction formatDate(date) {\n    let hours = date.getHours();\n    let minutes = date.getMinutes();\n    let seconds = date.getSeconds();\n    let ampm = hours >= 12 ? 'PM' : 'AM';\n    hours = hours % 12;\n    hours = hours ? hours : 12; // Ajuster pour afficher 12 au lieu de 0\n    minutes = minutes < 10 ? '0' + minutes : minutes;\n    seconds = seconds < 10 ? '0' + seconds : seconds;\n\n    let month = (date.getMonth() + 1).toString().padStart(2, '0'); // Mois commencent à 0\n    let day = date.getDate().toString().padStart(2, '0');\n    let year = date.getFullYear();\n\n    return `${month}/${day}/${year} ${hours}:${minutes}:${seconds} ${ampm}`;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 680,
        "wires": [
            [
                "12ea6749eeda1f03",
                "5cf546e6baa02cf7"
            ]
        ]
    },
    {
        "id": "5cf546e6baa02cf7",
        "type": "influxdb out",
        "z": "e3f06e9735d32e5d",
        "influxdb": "5ba7f60809348175",
        "name": "",
        "measurement": "testAlert2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "StevenEssam",
        "bucket": "testBD",
        "x": 860,
        "y": 900,
        "wires": []
    },
    {
        "id": "5ba7f60809348175",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "my_influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "c7e53eb63daf2f56",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "33b40955f4d4b92f",
        "order": 3,
        "disp": true,
        "width": 8
    },
    {
        "id": "234b79cc97402da8",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a309c8a19ab42cb2",
        "order": 1,
        "disp": true,
        "width": 29
    },
    {
        "id": "b5640878e8218e75",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "33b40955f4d4b92f",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "544bb19416535145",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "33b40955f4d4b92f",
        "order": 2,
        "disp": true,
        "width": 11
    },
    {
        "id": "02fced2075fb399f",
        "type": "ui_group",
        "name": "Alert Detected",
        "tab": "33b40955f4d4b92f",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3f3d72da8e0a0a6",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "33b40955f4d4b92f",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "33b40955f4d4b92f",
        "type": "ui_tab",
        "name": "Stats",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a309c8a19ab42cb2",
        "type": "ui_tab",
        "name": "Map",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]